<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:database.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <mapping class="addressBook.models.Location" />
        <mapping class="addressBook.models.User" />
        <mapping class="addressBook.models.Settings" />
        <mapping class="addressBook.models.Contact" />
    </session-factory>
</hibernate-configuration>