@font-face {
    font-family: 'Myra 4F Caps Bold';
    src: url('../fonts/OT-tt/Myra4FCapsBold.ttf');
}

@font-face {
    font-family: 'Myra 4F Caps Regular';
    src: url('../fonts/OT-tt/Myra4FCapsRegular.ttf');
}